/*
*{border: 1px solid blue;}
*/

body{
    margin: 0;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    box-sizing: border-box;
}


/*######################### HEADER ##########################*/


.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 130px;

    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
 
}

.headerleft,
.headerright {
    display: flex;
    flex: 1;
}

.headerleft {
    justify-content: flex-start;
}

.headerright {

    justify-content: flex-end;
    gap: 60px;
    min-height: 0;
}

.Logo{
    white-space: nowrap;
    width: 100px;
}


.headerlink {
    text-decoration: none;
    color: #e2e4e6;
    font-size: 18px;
    white-space: nowrap;
    min-height: 0;
}


/*######################### MAIN ##########################*/
.main{
    display: flex;
    flex-direction: column;
}

/*-------------------- MAIN TOP --------------------*/

.main-top{
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    padding: 80px 130px;

    background-color: #1F2937;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub-title{
    font-size: 18px;
    color: #e2e4e6;
}

.sign-up-top{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5px;
    border: none;

}

.hero-picture{
    height: 290px;
    width: 500px;
    flex-shrink: 0;
    justify-content: flex-start;
}


/*-------------------- MAIN MIDDLE --------------------*/

.main-middle{
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
}

.main-middle-header{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-middle-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item{
    width: 180px;
    border-radius: 5px;
}

.item-text {
    font-size: 18px;
    color: #1F2937;
    width: 180px;
}

/*-------------------- MAIN BOTTOM --------------------*/

.main-bottom{
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 120px 200px;
}

.main-bottom-text{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}
.main-bottom-quote{
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

/*---------------------- MAIN ACTION ----------------------*/

.main-action{
    padding: 120px 130px;
}

.main-action-container{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 50px 100px;
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-action-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-action-header{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.main-action-lower{
    color: #e2e4e6;
    font-size: 18px;
}

.main-action-button{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 3px;
    border: 1.5px solid white;
}

button{
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    white-space: nowrap;
    font-size: large;
}



/*######################### FOOTER ##########################*/

.footer {

    background-color: #1F2937;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #e2e4e6;
    font-size: 18px;
    white-space: nowrap;
    height: 140px;
}

/*###############################################################*/
/*######################### Crazy Page ##########################*/
/*###############################################################*/

.crazy{
    font-size: 36px;
    color: #E5E7EB;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.crazy.small{
    font-size: medium;
    font-weight: 400;
}

#crazy{
    margin: 0; 
    padding: 100px; 
    background-color: #1F2937;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#button:hover {

    background-color: #e2e4e6;
    border: none;
    color: #1F2937;

}


#button {

    background-color: #1F2937;
    border: 1.5px solid #e2e4e6;
    color: #e2e4e6;

}



.crazy-image{
    width: 300px;
}