
*{border: 1px solid blue;}


body{
    margin: 0;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}


/*######################### HEADER ##########################*/


.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 130px;

    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
 
}

.headerleft,
.headerright {
    display: flex;
    flex: 1;
}

.headerleft {
    justify-content: flex-start;
}

.headerright {

    justify-content: flex-end;
    gap: 30px;
    min-height: 0;
}

.Logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;

    white-space: nowrap;
    width: 100px;
}


.headerlink {
    text-decoration: none;
    color: #e2e4e6;
    font-size: 18px;
    white-space: nowrap;
    min-height: 0;
}


/*######################### MAIN ##########################*/
.main{
    display: flex;
    flex-direction: column;
}

/*-------------------- MAIN TOP --------------------*/

.main-top{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 80px 130px;

    background-color: #1F2937;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub-title{
    font-size: 18px;
    color: #e2e4e6;
}

.sign-up-top{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;

}

.hero-picture{
    height: 290px;
    width: 500px;
    flex-shrink: 0;
    justify-content: flex-start;
}


/*-------------------- MAIN MIDDLE --------------------*/

.main-middle{
    padding: 80px 130px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    background-color: #E5E7EB;
    text-align: center;
}

.main-middle-header{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-middle-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.item{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid blue;
}

.item-text {
    font-size: 18px;
    color: #1F2937;
    width: 130px;
}

.main-bottom{
    flex-shrink: 1;
    height: 200px;
}


/*######################### FOOTER ##########################*/

.footer {

    background-color: #1F2937;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #e2e4e6;
    font-size: 18px;
    white-space: nowrap;
    height: 140px;
}
